<section class="banner">

  <img src="{{ site.author.image | prepend: site.baseurl  }}" alt="author thumb" class="dot animated hinge fadeInDown">

  <h2 class="animated hinge fadeInDown" itemscope itemtype="http://schema.org/Person">Hello, my name is <strong itemprop="name">{{ site.name }}</strong>I am a <em itemprop="jobTitle">developer</em> and <em itemprop="jobTitle">writer</em> based in Cincinnati, Ohio.</h2>

  <nav class="actions">
    <a href="{{ "/about" | prepend: site.baseurl }}" class="button ghost">About</a>
    <a href="{{ "/my-projects" | prepend: site.baseurl }}" class="button ghost">Projects</a>
  </nav>

</section>
